<nav class="navbar is-info has-shadow">
    <% if (user) { %>
        <div class="navbar-brand">
            <a href="/" class="navbar-item">home</a>
        </div>
        <div class="navbar-menu" id="navbar-links">
            <div class="navbar-end">
                <a href="/users/<%= user._id %>/projects" class="navbar-item">your projects</a>
                <a href="/auth/sign-out" class="navbar-item">sign-out</a>
            </div>
        </div>
     <% } else { %>
        <div class="navbar-brand">
            <a href="/" class="navbar-item">home</a>
        </div>
        <div class="navbar-menu" id="navbar-links">
            <div class="navbar-end">
                <a href="/auth/sign-in" class="navbar-item">sign-in</a>
                <a href="/auth/sign-out" class="navbar-item">sign-out</a>
            </div>
        </div>
     <% } %>
 </nav>